<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <validation validateIntegratedModeConfiguration="false" />

        <security>
            <requestFiltering>
                <verbs>
                <add verb="GET" allowed="true" />
                <add verb="POST" allowed="true" />
                <!-- <add verb="PUT" allowed="true" />
                <add verb="DELETE" allowed="true" />
                <add verb="OPTIONS" allowed="true" /> -->
                </verbs>
            </requestFiltering>
        </security>

<!--    
        <handlers>
     
            <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
            <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
            <remove name="ExtensionlessUrl-Integrated-4.0" />
            <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
            <remove name="WebDAV" />
            <remove name="WebDAVModule" />

            <add name="ExtensionlessUrl-Integrated-4.0" path="*." verb="GET,HEAD,POST,PUT,DELETE,OPTIONS,DEBUG" type="System.Web.Handlers.TransferRequestHandler" resourceType="Unspecified" requireAccess="Script" preCondition="integratedMode,runtimeVersionv4.0" />
        </handlers>

        <modules runAllManagedModulesForAllRequests="true">
            <remove name="WebDAV" />
            <remove name="WebDAVModule" />
        </modules>
 -->
        <rewrite>
            <rules>
               <!-- <rule name="Laravel API" stopProcessing="true">
                    <match url="^(api\/.*)$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="/{R:1}" />
                </rule>  -->
                <rule name="Rule 1" enabled="true" stopProcessing="true">
                    <match url="^(.*)/$" ignoreCase="false" />
                    <action type="Redirect" redirectType="Permanent" url="/{R:1}" />
                </rule>
                <rule name="Rule 2" enabled="true" stopProcessing="true">
                    <match url="^" ignoreCase="false" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.php" />
                </rule>
               
            </rules>
        </rewrite>
         <httpErrors existingResponse="PassThrough" />
         <httpProtocol>
            <customHeaders>
                <add name="Access-Control-Allow-Origin" value="*" />
                <add name="Access-Control-Allow-Methods" value="GET,POST" />
                <add name="Access-Control-Allow-Headers" value="Origin, Content-Type, Accept" />
            </customHeaders>
        </httpProtocol>
        <tracing>
            <traceFailedRequests>
                <add path="*">
                    <traceAreas>
                        <add provider="WWW Server" areas="Authentication,Security,Filter,StaticFile,CGI,FastCGI,WebSocket,Rewrite,Cors" verbosity="Verbose" />
                    </traceAreas>
                    <failureDefinitions timeTaken="00:00:00" statusCodes="400-999" verbosity="Ignore" />
                </add>
            </traceFailedRequests>
        </tracing>
    </system.webServer>
</configuration> 